<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
<% include ./partials/header.ejs %>

    <section  class = "SecGlobal">
        <div>
            <div>

                <div class="img-profile">
                    <img src="/images/profile.png">
                </div>
              
                <div class="col"> 
                    <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><%= employee.first_name %>, <%= employee.last_name %></td>
                        </tr>
                        <tr>
                        <td>Department:</td>
                        <td>It Service</td>
                        </tr>
                        <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                        </tr>
                        <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                        </tr>
                    

                            <tr>
                        <td>Gender</td>
                        <td>Male</td>
                        </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Worms, Germany</td>
                        </tr>
                        <tr>
                        <td>Email</td>
                        <td><a href="mailto:<%= employee.email %>"><%= employee.email %></a></td>
                        </tr>
                        <td>Phone Number</td>
                        <td><%= employee.phone %>
                        </td>
                            
                        </tr>
                    
                    </tbody>
                    </table><br>
                    <div>
                      <% if(employee.isAdmin === 1) { %>
                         <a href="/employee/list" class="btn-Glob">Edit Users</a>
                     <% } %>

                     <a href="/employee/<%= employee.id %>/update" class="btn-Glob">Edit profile</a>
                     <a href="/employee/<%= employee.id %>/update/password" class="btn-Glob">Change password</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<% include ./partials/footer %>
</body>
</html>