<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
<% include ./partials/header.ejs %>



    <section class = "SecGlobal">
        <form action="/reserve/<%= guest.id %>/update" method="post" data-toggle="validator" role="form">
        <p class="sub-titel">Edit reservation</p>

        <table >
            <tbody>
            <tr>
                <td>Name:</td>
                <td><%= guest.first_name %>, <%= guest.last_name %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><a href="mailto:<%= guest.email %>"><%= guest.email %></a></td>
            </tr>
            <td>Phone Number</td>
            <td><%= guest.phone %>
            </td>

            </tr>

            <tr>
                <td>Room</td>
                <td>

                    <select class="select-res" name="room_id" id="roomType" required autocomplete="off">
                        <option></option>
                        <% for (var i=0;i<rooms.length;i++){ %>
                            <option value="<%= rooms[i].roomId %>"><%= rooms[i].room_type %> : <%= rooms[i].room_number %></option>
                        <% } %>

                    </select>

                </td>
            </tr>


            <tr>
                <td>Check in</td>
                <td>
                    <input type="date" name="check_in" id="check_in" class="select-res">


                </td>
            </tr>



            <tr>
                <td>Check out</td>
                <td>

                    <input type="date" name="check_out" id="check_out" class="select-res">

                </td>
            </tr>


            </tbody>
        </table>
            <input id="submitbtn" name="submitbtn" class="btn-Glob" type="submit" value="Edit Reservation" />
        </form>
    </section>
</center>

<% include ./partials/footer %>
</body>
</html>